#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.elevator-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.floor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.floor-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  transition: border-color 0.25s;

}

.floor-text-number {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
